@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
    font-family: "Mulish";
    src: local("Mulish"),
    url('./assets/Mulish.ttf') format('truetype');
}



.hide-scrollbar {
    overflow: hidden; 
    overflow-x: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; 
  }
  